pipelines/adf/copy_all_tables.json
{
    "name": "copy_all_tables",
    "properties": {
        "activities": [
            {
                "name": "Lookup for all tables",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": "SELECT\r\ns.name AS SchemaName\r\n,t.Name AS TableName\r\nFROM sys.tables t\r\nINNER JOIN sys.schemas s\r\nON t.schema_id = s.schema_id\r\nWHERE s.name = 'SalesLT';",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SqlServerOnPrem",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach Schema Tables",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup for all tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup for all tables').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy Each Table",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlServerSource",
                                    "sqlReaderQuery": {
                                        "value": "@{concat('SELECT * FROM ', item().SchemaName,'.',item().TableName)}",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "SqlServerOnPrem",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ParquetSink",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schemaname": "@item().SchemaName",
                                        "tablename": {
                                            "value": "@item().TableName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Bronze to Silver",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach Schema Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/bronze to silver"
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Silver to Gold",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze to Silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Shared/silver to gold"
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2024-12-01T00:36:06Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}